@import "tailwindcss";

@font-face {
  font-family: 'CalSans';
  src: url('/CalSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.font-calsans {
  font-family: 'CalSans', sans-serif;
}

.font-gilroy {
  font-family: 'Gilroy', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.animate-fadeInDown {
  opacity: 0;
  animation: fadeInDown 0.8s ease-out forwards;
}

.animate-fadeInDown.delay-100 {
  animation-delay: 0.1s;
}

.animate-fadeInDown.delay-200 {
  animation-delay: 0.2s;
}

.animate-fadeInDown.delay-300 {
  animation-delay: 0.3s;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #FFE7E2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
