@import "tailwindcss";

@font-face {
  font-family: 'CalSans';
  src: url('/CalSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.font-calsans {
  font-family: 'CalSans', sans-serif;
}

.font-gilroy {
  font-family: 'Gilroy', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #FFE7E2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
